In [1]:
import pandas as pd
df=pd.read_csv('spotify_millsongdata.csv')

In [2]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [4]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)
df.head(10)

,artist,song,text
0,Fatboy Slim,Rush,"We're alone, each with our very own lives to l..."
1,Marillion,Neverland,When the darkness takes me over \r\nFace down...
2,Bruce Springsteen,Look Toward The Land,"Live performance \r\nWell, I dreamed I was a ..."
3,Avril Lavigne,Breakaway (Written For Kelly Clarkson),"Grew up in a small town, \r\nAnd when the rai..."
4,Madonna,God Is Love,If God is love and love is God \r\nThen why'r...
5,Isley Brothers,Can I Have A Kiss (For Old Times' Sake)?,"Start off with a hug, lead into embrace \r\nO..."
6,Elton John,I Can't Steer My Heart Clear Of You,"Take me for granted, I think that I could stan..."
7,Ramones,Come Back Baby,Well life's a drag without you \r\nI found ou...
8,Pearl Jam,Around The Bend,I'm wishing you a well...mind at peace within ...
9,Paul Simon,Ace In The Hole,Some people say Jesus that's the ace in the ho...

In [5]:
df['text'][0]

"We're alone, each with our very own lives to lead,  \r\nwe carry our walls around in our pockets,  \r\nElectricity crackles and bricks turn to dust,  \r\nwhen you're there...  \r\n  \r\nI get a rush,  \r\nstraight to my head,  \r\nI get a rush.  \r\nI get a rush,  \r\ndown to my feet,  \r\nI get a rush.  \r\n  \r\nSee you there, standing with a secret smile on your face.  \r\nI am looking at my salvation.  \r\nHeal the broken hearts,  \r\nfeed the nation with love...  \r\n  \r\nA rush of wind...of blood through my veins and energy,  \r\nyou are here with me now and I love it.  \r\nTake me away...  \r\nFly with me\r\n\r\n"

In [6]:
df.shape

(5000, 3)

text cleaning /preprocessing

In [7]:
df['text']=df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n', ' ',regex=True)

In [8]:
df

,artist,song,text
0,Fatboy Slim,Rush,"we're alone, each with our very own lives to l..."
1,Marillion,Neverland,"when the darkness takes me over \r face down,..."
2,Bruce Springsteen,Look Toward The Land,"live performance \r well, i dreamed i was a g..."
3,Avril Lavigne,Breakaway (Written For Kelly Clarkson),"grew up in a small town, \r and when the rain..."
4,Madonna,God Is Love,if god is love and love is god \r then why're...
...,...,...,...
4995,Kyla,Say That You Love Me,my morning starts to shine with teardrops in m...
4996,Squeeze,Annie Get Your Gun,"she goes for her medical \r she's passed, its..."
4997,Leonard Cohen,Humbled In Love,do you remember all of those pledges \r that ...
4998,Radiohead,Tinker Tailor Soldier Sailor Rich Man Poor Man...,[verse 1] \r all the holes at once are coming...
4999,Our Lady Peace,Tomorrow Never Knows,listen to the color of your dreams... \r turn...

In [9]:
import nltk
from nltk.stem.porter import PorterStemmer

In [10]:
#nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\NEHA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
stemmer = PorterStemmer()

In [12]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [13]:

token("you are beautiful,beauty")

'you are beauti , beauti'

In [14]:
df['text'].apply(lambda x:token(x))

0       we 're alon , each with our veri own live to l...
1       when the dark take me over face down , emptier...
2       live perform well , i dream i wa a gypsi ride ...
3       grew up in a small town , and when the rain wo...
4       if god is love and love is god then whi 're yo...
                              ...
4995    my morn start to shine with teardrop in my eye...
4996    she goe for her medic she 's pass , it ' a mir...
4997    do you rememb all of those pledg that we pledg...
4998    [ vers 1 ] all the hole at onc are come aliv ,...
4999    listen to the color of your dream ... turn off...
Name: text, Length: 5000, dtype: object

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
tfid= TfidfVectorizer(analyzer='word',stop_words='english')
matrix=tfid.fit_transform(df['text'])

In [17]:
similarity=cosine_similarity(matrix)
similarity[0]

array([1.        , 0.01754057, 0.        , ..., 0.01700916, 0.00844876,
       0.01062014])

In [19]:
df[df['song']== 'Look Toward The Land'].index[0]

2

RECOMMENDER FUNCTION

In [23]:
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x: x[1])
    song=[]
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [24]:
recommender("Look Toward The Land")

['This Land Is Your Land',
 'In The Land Of Make Believe',
 'I Dreamed A Dream',
 "Death Don't Have No Mercy",
 'A Night Like This',
 'Coast To Coast',
 'God Of The Sun',
 'The River Must Flow',
 'Stranger In A Strange Land',
 'A Song For You',
 'Wide River',
 'Jenny Dreamed Of Trains',
 'Land Ahoy',
 'Detroit City',
 'Jenny Dreamed Of Trains',
 'Oh Look Around You',
 'Common Mortal Man',
 'Singing The Blues',
 'Long Ago (And So Far Away)',
 'Then They Do']

In [25]:
import pickle as pkl

In [29]:
pkl.dump(similarity,open("similarity.pkl" , "wb"))

In [28]:
pkl.dump(df,open("df.pkl","wb"))